.App {
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
}

.spacer {
  min-height: 10vh;
  background-color: #292929;
}

.title {
  color: white;
  font-size: 60px;
  background: #292929;
  height: 100px;
}

.title-container {
  height: 100px;
}

#root {
  background-color: #292929;
}
